<div class="container">
    <h2>Subject Details</h2>
    <hr />
    <div *ngIf="subject">
      <form>
        <div class="form-group">
            <label for="name">Subject Code</label>
            <input type="text" class="form-control" id="subName" required [(ngModel)]="subject.subCode" name="subName">
          </div>
    
          <div class="form-group">
            <label for="name">Subject Name</label>
            <input type="text" class="form-control" id="subCode" required [(ngModel)]="subject.subName" name="subCode">
          </div>
    
          <div class="form-group">
            <label for="name">Score Pass</label>
            <input type="text" class="form-control" id="subEmail" required [(ngModel)]="subject.subScorepass" name="subEmail">
          </div>
    
          <div class="form-group">
            <label for="name">Time</label>
            <input type="text" class="form-control" id="subId" required [(ngModel)]="subject.subTime" name="subId">
          </div>
        <button class="btn btn-primary" (click)="update2()">Update</button>
      </form>
      
    </div>
  
    <br>
    <br>
    <button (click)="list2()" class="btn btn-primary">Back to Subject List</button><br>
  </div>
  